# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
build/
release/

# User configuration.
local.properties

# Android cmake dirs
.externalNativeBuild
.cxx

# generic data
data/

app/google-services.json

# the custom module to be benchmarked against ARCore/AREngine
custom-vio/
custom-vio

# mobile-cv-suite can be symlinked to the root dir to use it instead of the pre-built version
# this allows testing local modifications to mobile-cv-suite
mobile-cv-suite/
mobile-cv-suite
