<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.example.viotester">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ShareListActivity"
            android:label="Share recordings list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".modules.DataCollectionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".modules.CalibrationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".modules.GpuExampleActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".modules.TrackingActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".modules.MapOverlayActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.example.viotester.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>
    </application>

</manifest>